@model ML.Empleado

<h1>EMPLEADOS</h1>

<div class="container">
    <div class="row">
        @using (Html.BeginForm("CardsGetAll", "Empleados", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">

                @Html.HiddenFor(model => model.IdEmpleado)

                <div class="col-2">
                    @Html.LabelFor(model => model.Nombre, new { @class = "label-control" })
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                </div>

                <div class="col-3">
                    @Html.LabelFor(model => model.ApellidoPaterno, new { @class = "label-control" })
                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })
                </div>


                @if (Model.Departamento.IdDepartamento != 0)
                {
                    <div class="col-3 text-center  align-content-center">
                        @Html.LabelFor(model => model.Departamento.IdDepartamento, "Departamento", new { @class = "label-control" })
                        @Html.DropDownListFor(model => model.Departamento.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Descripcion"),
                                 "Selecciona un Departamento", new { @class = "form-control" })

                    </div>
                }
                else
                {
                    <div class="col-3 text-center align-content-center">
                        @Html.DropDownListFor(model => model.Departamento!.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Descripcion"),
                                 "Selecciona un Departamento", new { @class = "form-control" })

                    </div>
                }


                <div class="col-2 align-content-center">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>

                <div class="col-2 align-content-center">
                    <a href="@Url.Action("Formulario", "Empleados")" class="btn btn-success">
                        Add
                    </a>
                </div>

            </div>

        }
        <div class="row">
        </div>


    </div>


</div>
@if (Model.Empleados != null && Model.Empleados.Count > 0)
{
    <div class="container mt-4">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th>Editar</th>
                            <th>IdEmpleado</th>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Fecha Nacimiento</th>
                            <th>RFC</th>
                            <th>NSS</th>
                            <th>CURP</th>
                            <th>Fecha Ingreso</th>
                            <th>Departamento</th>
                            <th>Salario Base</th>
                            <th>Faltas</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.Empleado item in Model.Empleados)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Formulario","Empleados", new {IdEmpleado = item.IdEmpleado})" class="btn btn-warning">
                                        <i class="bi bi-person-fill-gear"></i> Editar
                                    </a>
                                </td>
                                <td>@item.IdEmpleado</td>
                                <td>@item.Nombre</td>
                                <td>@item.ApellidoPaterno</td>
                                <td>@item.ApellidoMaterno</td>
                                <td>
                                    @(item.FechaNacimiento.HasValue ? item.FechaNacimiento.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>@item.RFC</td>
                                <td>@item.NSS</td>
                                <td>@item.CURP</td>
                                <td>
                                    @(item.FechaIngreso.HasValue ? item.FechaIngreso.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>@item.Departamento?.Descripcion</td>
                                <td>@item.SalarioBase?.ToString("C")</td>
                                <td>@item.NoFaltas</td>
                                <td>
                                    <a href="@Url.Action("Delete","Empleados", new {IdEmpleado = item.IdEmpleado})" class="btn btn-danger">
                                        <i class="bi bi-person-dash-fill"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{

    <p class="text-muted">No hay resultados que mostrar. Realiza la busqueda abierta</p>
}

